:root{
    --color-text:(#BDBDBD);
}
html {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
body{
    background-color:#1C2C35;
    color: #BDBDBD;
}
body a {
    text-decoration: none;
    color: #BDBDBD;
}
body li {
    list-style: none;
}
body h1 {
    color: #FFB952;
    font-size: 3rem;
}
.header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.header .logo{
    display: flex;
    width: 75px;
}
.header .nav{
   height: auto;
   margin: 0;
}
.nav-lista{
    max-width: 120px;
    min-width: 80px;
    height: 90px;
}
.nav-lista .lista {
    padding: 0;
    margin: 0;
}
.nav-lista .lista li:hover{
    transform: scale(1.1);
}
.header .lista img {
    margin-right: 5px;
}
.home-icon {
    width: 15px;
    height: 15px;
    background-image: url("./images/home.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nombre-logo {
    width: auto;
    height: auto;
}
.nombre-logo h2 {
    margin: 0;
    margin-top:10px;
}
.nombre-logo-logos {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
#content{
    width: 100%;
    height: 80vh;
    margin-top: 50px;
}
.home, .skills{
    animation-duration: 1s;
    animation-name: fade;
    animation-iteration-count: unset;
    align-items: center;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 200px;
}
.home h1, h2 {
    margin: 0;
} 
.home img{
    margin-top: 30px;
}
.skills-logo{
    display: flex;
}
.skills-logo h1{
    margin: 0;
}
.skills-logo img {
    width: 60px;
}
.skills-logos {
    display: flex;
    margin-top: 10px;
}
.skills-logos h2{
    width: 150px;
    font-size: 2rem;
}
.skills-logos img{
    width: 50px;
}
.projets-text-logo {
    display: flex;
    width: 100%;
    justify-content: center;
}
.container-article {
    display: flex;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.proyecto{
    scroll-snap-align: center;
    margin: 0 15px;
}


@keyframes fade {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }